.App {
  text-align: center;
  background-color: #214d68;
  height: 100vh;
  width: 100vw;
  font-family: 'Fira Sans', sans-serif;

}

.title {
  color: #fff;
  margin: 0;
  padding: 4% 0 ;
  letter-spacing: 2px;
  font-size: 4em;
}

.candidates {
  display: flex;
  justify-content: center;
  margin: 25px 0 ;
}

.candidates > * {
  margin: 0 50px;
  color: #5ac5cb;
}

.candidates button {
  border: 1px solid white;
  background-color: white;
  border-radius: 2px;

  color: #214d68;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  width: 100px;
  height: 25%;
}
button:disabled {
 visibility: hidden;
}


.winnerBtn {
  border: 1px solid orange;
  background-color: orange;
  border-radius: 2px;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  width: 700px;
  height: 50px;
}
